{% extends "jv/base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
  .container {
    display: flex;
    justify-content: space-between;
  }

  .column {
    flex: 1;
  }

  .column.left {
    text-align: left;
  }

  .column.right {
    text-align: right;
  }

  .acenter {
    text-align: center;
  }

  /* .fixed-con {
    z-index: 9724790009779558!important;
    background-color: #f7f8fc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
  .VIpgJd-ZVi9od-aZ2wEe-wOHMyf{
   z-index: 9724790009779!important;
   top:0;
   left:unset;
   right:-5px;
   display:none!important;
   border-radius:50%;
   border:2px solid gold;
  }
  .VIpgJd-ZVi9od-aZ2wEe-OiiCO{
    width:80px;
    height:80px;
  }*/
  .fixed-con {
    z-index: 9724790009779558 !important;
    background-color: #FFA500;
    /* Matching background color */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }

  .VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
    z-index: 9724790009779 !important;
    top: 0;
    left: unset;
    right: -5px;
    display: none !important;
    border-radius: 10%;
    border: 1px solid #FFA500;
    /* Matching border color */
  }

  .VIpgJd-ZVi9od-aZ2wEe-OiiCO {
    width: 80px;
    height: 80px;
  }

  /*hide google translate link | logo | banner-frame */
  .goog-logo-link,
  .gskiptranslate,
  .goog-te-gadget span,
  .goog-te-banner-frame,
  #goog-gt-tt,
  .goog-te-balloon-frame,
  div#goog-gt- {
    display: none !important;
  }

  .goog-te-gadget {
    color: transparent !important;
    font-size: 0px;
  }

  .goog-text-highlight {
    background: none !important;
    box-shadow: none !important;
  }

  /*google translate Dropdown */

  #google_translate_element select {
    /*background:#f6edfd;*/
    color: #387ADF;
    border: none;
    border-radius: 3px;
    padding: 6px 8px;
  }

  .goog-te-banner-frame {
    display: none !important;

  }

  .goog-te-banner-frame {
    margin-bottom: 20px;
    /* Adjust the margin as needed */
  }

  .div-left {
    float: right;
  }

  .goog-te-combo {
    width: 30%;
    /* Adjust the width as needed */
  }

  .goog-te-combo option[value="lang"] {
    /* Style the "lang" option as desired */
    font-weight: bold;
    /* Example style */
    /* Add any other desired styles */
  }
</style>

<script type="text/javascript">
  function googleTranslateElementInit() {

    new google.translate.TranslateElement({

      pageLanguage: 'en',

      autoDisplay: 'true',
      includedLanguages: 'it,fr,da,de,es,sw',

      layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL

    }, 'google_translate_element');

  }
</script>

<script type="text/javascript" src="{% static 'translate.google.com/translate_a/element.js'%}"></script>
{%include "jv/navbar.html"%}
<div id="container">
  <div class="main-block">
    <div class="search w3-card-2">
      <form id="searchService" action="services.htm" method="post">
        <h3>Search services..</h3>
        <div class="form">
          <input type="search" id="schQryS" name="" value="" placeholder="Search.." autofocus>
          <button type="button" class="btnSub"><i class="fas fa-search"></i></button>
          <button type="button" class="loading"><i class="fas fa-spinner fa-pulse"></i></button>
        </div>
      </form>
    </div>
    <div class="destinations">
      <div class="popular">
        <h3>Our Services</h3>
      </div>
      <table>
        <tr id="serv11">
          <td>
            <img src="https://jadevinetravel.com/pictures/services/11.jpg" alt="Stone Town City Tour"
              onclick="imageViewer('viewerImg','pictures/services/11.jpg','Stone Town City Tour')">
            <div onclick="openLink('popular_places.php?categ=11')">
              <h4>Stone Town City Tour</h4>
              <span>Stone town is an outstanding private guided walking tour, we can arrange the pickup from your hotel
                and return.</span>
            </div>
          </td>
        </tr>
        <tr id="serv2">
          <td>
            <img src="https://jadevinetravel.com/pictures/services/2.jpeg" alt="HOTELS, LODGES &amp; VILLAS"
              onclick="imageViewer('viewerImg','pictures/services/2.jpeg','HOTELS, LODGES &amp;amp; VILLAS')">
            <div onclick="openLink('popular_places.php?categ=2')">
              <h4>HOTELS, LODGES &amp; VILLAS</h4>
              <span>Book for your accommodation with us. There&#039;s a wealth of Hotels, Lodges and Villas in Zanzibar
                with fine hospitality to suit a range of budgets. Most Hotels occupy historical or restored buildings
                with a short walking distance of the main attractions, And all have the mod cons. Many have
                indoors/outdoor pools and an Ocean view. Most Hotels are dotted along the archipelago&#039;s coastline
                especially in the north and east side of the island of Zanzibar. Many are part of the luxury beach
                Hotels, Lodges and villas offering everything any one need to have such as a Serene and indulgent
                environment to stay.</span>
            </div>
          </td>
        </tr>
        <tr id="serv4">
          <td>
            <img src="https://jadevinetravel.com/pictures/services/4.jpeg" alt="FLIGHTS &amp; SAFARIS"
              onclick="imageViewer('viewerImg','pictures/services/4.jpeg','FLIGHTS &amp;amp; SAFARIS')">
            <div onclick="openLink('popular_places.php?categ=4')">
              <h4>FLIGHTS &amp; SAFARIS</h4>
              <span>Book an air ticket with us for all fast and domestic safari park Tours in Tanzania. Take a flight
                from Zanzibar Island to Serengeti, Selous and Ruaha National parks to do a Safari. The most commonly
                done Tours and incorporating flights, you can rely on to do a combination of Parks like Serengeti
                National park, Ngorongoro National park, Selous Game Reserve, Mikumi National park and Ruaha National
                park in the southern part of Tanzania all Combined together in a nick of time.</span>
            </div>
          </td>
        </tr>
        <tr id="serv9">
          <td>
            <img src="https://jadevinetravel.com/pictures/services/9.jpeg" alt="TOURS &amp; TRANSFER SHUTTLES"
              onclick="imageViewer('viewerImg','pictures/services/9.jpeg','TOURS &amp;amp; TRANSFER SHUTTLES')">
            <div onclick="openLink('popular_places.php?categ=9')">
              <h4>TOURS &amp; TRANSFER SHUTTLES</h4>
              <span>All pickups, are done on the spot to take you to every corner in Zanzibar island by buses, VIP
                saloon Vehicles and more others tour trucks on the ground. All shuttles are subjected to strong quality
                customer services. We provide for both individual and group any time and any where all with the help of
                our professional and ethical drivers to transport our clients to their destinations in both Tanzania and
                Zanzibar during the safaris and to hotels and from airports with an excellent performance records,
                traveling with comfort is our goal. We care about your experience every where you go.</span>
            </div>
          </td>
        </tr>
      </table>
      <!--<div class="pagination">
            <a href="#first"><button type="button" name="button"><i class="fas fa-arrow-left"></i></button></a>
            <a href="#next"><button type="button" name="button" class="act">4</button></a>
            <a href="#last"><button type="button" name="button">5</button></a>
            <a href="#last"><button type="button" name="button">6</button></a>
            <a href="#first"><button type="button" name="button"><i class="fas fa-arrow-right"></i></button></a>
          </div>-->
    </div>

    <!--//////////////////////////// Picture viewer -------------------->
    <div class="modal" id="viewerImg">
      <span class="close" onclick="closeForm('viewerImg')">&times;</span>
      <form class="modal-content">
        <div class="formhead"><i class="fas fa-camera"></i> [JDVT] Take Your Dream Vacation</div>
        <img src="services.htm" id="imgView">
        <span id="vCaption"></span>
        <button type="button" class="btnHide" onclick="closeForm('viewerImg')"><i class="fas fa-times-circle"></i>
          CLOSE</button>
      </form>
    </div>
  </div>
</div>
<footer>
  Jadevine Travel & Tours Co. Ltd<br>&copy; 2024 All rights reserved
  <button><i class="fas fa-arrow-up"></i></button>
</footer>

<script type="text/javascript">
  //Image viewer
  function imageViewer(a, b, c) {
    $("#" + a).fadeIn('fast');
    $("#imgView").attr("src", b);
    $("#vCaption").text(he.decode(c));
  }
  //Close modal box/image viewer
  function closeForm(modal) {
    $("#" + modal).fadeOut(500);
  }
  //Open clicked link
  function openLink(link) {
    window.location.href = link;
  }

  //Start of Tawk.to Script
  var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
  (function () {
    var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = 'https://embed.tawk.to/5dc47cfad96992700fc66186/default';
    s1.charset = 'UTF-8';
    s1.setAttribute('crossorigin', '*');
    s0.parentNode.insertBefore(s1, s0);
  })();
  //End of Tawk.to Script
</script>

{%endblock%}